@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Unica+One&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat" sans-serif;
}
h1,
h2,
.font-clash {
  font-family: var(--clash-font);
}

body {
  @apply bg-background text-white;
}

.unica-one {
  font-family: "Unica One", cursive;
}

.hero-bg {
  /* background-image: url("/assets/gradient.png");
  background-repeat: no-repeat;
  background-size: cover; */
}
