@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Unica+One&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

p,
li,
nav,
section,
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
h1,
h2 {
  font-family: var(--clash-font);
}

* {
    scroll-behavior: smooth;
    scroll-snap-align: start;
  }

  p {
  @apply leading-[30px];
}

body {
  scroll-snap-type: y mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  @apply bg-background text-white overflow-x-clip;
}

.unica-one {
  font-family: var(--unica-font);
}
.btn-primary {
  @apply bg-primary-gradient px-10 rounded-md py-3 text-white;
}

body::-webkit-scrollbar {
  display: none;
}
