@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Unica+One&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat" ,sans-serif;
  /* border:1px solid red */
}
h1,
h2,
.font-clash {
  font-family: var(--clash-font);
}

p{
  @apply leading-[30px]
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  @apply bg-background text-white overflow-x-hidden ;
}

.unica-one {
  font-family: "Unica One", cursive;
}
.btn-primary{
  @apply bg-primary-gradient px-10 rounded-md py-3 text-white
}

body::-webkit-scrollbar {
  display: none;
}

